html {
    background: #000000;
}


html:hover .spider {
    top: -120%;
}

.spider {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 30%;

    /* Swinging animation triggered by my mouses hover */
    animation: swing 5s infinite;
    transform-origin: top;

    
    transition: 5s ease-in-out;
}

.spider .spiderweb {
    width: 2px;
    height: 200px;
    margin-left: 75px;
    background: rgba(255, 255, 255, 0.7);
}

.spider .body {
    width: 150px;
    height: 120px;
    background: #ffffff;
    position: relative;
    border-radius: 50%;
}

.spider .body .eye {
    width: 33px;
    height: 33px;
    position: absolute;
    bottom: 20px;
    background: #c03b3b;
    border-radius: 50%;
}

.spider .body .eye.left {
    left: 25px;
}

.spider .body .eye.right {
    right: 25px;
}

.spider .body .eye:after {
    background: #000;
    width: 7px;
    height: 7px;
    content: '';
    display: block;
    margin: 55%;
    border-radius: 50%;

    
    animation: look 10s infinite;
}

.spider .legs .leg {
    width: 160px;
    height: 40px;
    margin-top: -20px;
    border: 5px solid transparent;
    border-top-color: #ffffff;
    border-radius: 40px 40px 0 0;
}

.spider .legs {
    position: absolute;
    bottom: -10%;
    z-index: -1;
}

.spider .legs.left {
    left: -70%;
}
.spider .legs.right {
    right: -60%;
}


.legs.left .leg:nth-child(1){
    transform: rotate(10deg);
    margin-left: 10px;
}
.legs.right .leg:nth-child(1){
    transform: rotate(-10deg);
    margin-left: -10px;
}


.legs.left .leg:nth-child(2){
    transform: rotate(-20deg);
    margin-left: 20px;
}
.legs.right .leg:nth-child(2){
    transform: rotate(20deg);
    margin-left: -20px;
}


.legs.left .leg:nth-child(3){
    transform: rotate(-50deg);
    margin-left: 30px;
}
.legs.right .leg:nth-child(3){
    transform: rotate(50deg);
    margin-left: -30px;
}

/* Animation for the spider */
@keyframes look {
    0%, 40%, 100% {
        transform: translateX(0); 
    }

    45%, 95% {
        transform: translateX(-110%);
    }
}



@keyframes swing {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}